.tag-list {
  display: flex;
}

.tag-list__item {
  background-color: black;
  color: white;
  padding: 0.5rem;
  margin-right: 1rem;
  text-decoration: none;
}

.tag-list__item::after {
  content: " ";
}
