.post {
  display: grid;
  grid-template-rows: 1fr auto;
  width: 100%;
  height: 100%;
}

.post__content__date {
  font-style: italic;
  margin-bottom: 1rem;
}

.post__metadata {
  margin-bottom: 1rem;
}

.post__content {
  margin-top: 1rem;
}
